#javaShow {
  display: none;
}

#operShow {
  display: none;
}

#varShow {
  display: none;
}

#vncShow {
  display: none;
}

#funShow {
  display: none;
}

#methShow {
  display: none;
}

#argShow {
  display: none;
}

#paraShow {
  display: none;
}

#retShow {
  display: none;
}

#chainShow {
  display: none;
}

#stringShow {
  display: none;
}

#booShow{
  display: none;
}

#undShow {
  display: none;
}

#nanShow {
  display: none;
}

#escShow {
  display: none;
}

#aleShow {
  display: none;
}

#comShow {
  display: none;
}

#jqShow {
  display: none;
}

#attShow {
  display: none;
}

#java {
  cursor: pointer;
}

#operator {
  cursor: pointer;
}

#variable {
  cursor: pointer;
}

#VNC {
  cursor: pointer;
}

#function {
  cursor: pointer;
}

#method {
  cursor: pointer;
}

#argument {
  cursor: pointer;
}

#parameter {
  cursor: pointer;
}

#return {
  cursor: pointer;
}

#CM {
  cursor: pointer;
}

#string {
  cursor: pointer;
}

#boolean {
  cursor: pointer;
}

#undefined {
  cursor: pointer;
}

#NaN {
  cursor: pointer;
}

#escape {
  cursor: pointer;
}

#alert {
  cursor: pointer;
}

#comment {
  cursor: pointer;
}

#JQ {
  cursor: pointer;
}

#attribute {
  cursor: pointer;
}
